.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;

  z-index: 1;
}

.item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 30%;

  border: 1px solid #CCC;
}

.head {
  position: relative;
  color: white;
}
.head::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

.headTop {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;

  z-index: 10;
}

.nationImage {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;

  z-index: 5;
}


.headBot {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;

  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}

.type {}

.title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
}


.description {
  display: flex;
  flex-direction: column;
  padding: 10px;

  z-index: 10;
}

